<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="roadingNet">
      <section name="context" type="RoadingNet.ConfigurationHandler.ContextHandler, RoadingNet" />
      <section name="objects" type="RoadingNet.ConfigurationHandler.ObjectsHandler, RoadingNet" />
    </sectionGroup>
  </configSections>
  <roadingNet>
    <context>
      <resource uri="config://roadingNet/objects"></resource>
    </context>
    <objects>
      <!--<object name="BaseTypePropertyTest" parent="parent" type="Roading.Net.Test.BaseTypePropertyTest,Roading.Net.Test" singleton="true" init-method="InitMethod" destory-method="DestoryMethod" factory-method="factorymethod" factory-object="factoryobject">
        <property name="FirstAge" value="1" type="int"></property>
        <property name="SecondAge" value="字符串属性" type="string"></property>
        </object>-->
      <!--构造函数注入-->
      <object name="ConstructerTest" type="Roading.Net.Test.ConstructerTest,Roading.Net.Test">
        
      </object>
      <!--属性注入：常用类型-->
      <object name="BaseTypePropertyTest"  type="Roading.Net.Test.BaseTypePropertyTest,Roading.Net.Test">
        <!--常用数据类型注入-->
        <property name="IntTest" value="12" type="int"></property>
        <property name="StringTest" value="字符串类型注入" type="string"></property>
        <property name="DoubleTest" value="12.3663" type="double"></property>
        <property name="FloatTest" value="0.235" type="float"></property>
        <property name="SingleTest" value="0.112" type="Single"></property>
        <property name="DecimalTest" value="15.33" type="decimal"></property>
        <property name="DateTimeTest" value="2018-01-01 12:12:12" type="datetime"></property>
        <property name="DateTest" value="2018-01-01" type="date"></property>
        <property name="BoolTest" value="true" type="bool" ></property>
        <property name="CharTest" value="c" type="char"></property>
        <!--8位、16位、32位、64位有符号，无符号整型注入-->
        <property name="ByteTest" value="8" type="byte"></property>
        <property name="SbyteTest" value="-8" type="sbyte"></property>
        <property name="Int16Test" value="-16" type="int16"></property>
        <property name="ShortTest" value="-16" type="short"></property>
        <property name="Int64Test" value="-64" type="int64"></property>
        <property name="LongTest" value="-64" type="long"></property>
        <property name="UintTest" value="32" type="uint"></property>
        <property name="UInt16Test" value="16" type="uint16"></property>
        <property name="UIint64Test" value="64" type="uint64"></property>
        <!--常用可空数据类型注入-->
        <property name="IntNullableTest" value="1" type="int?"></property>
        <property name="DoubleNullableTest" value="1" type="Double?"></property>
        <property name="FloatNullableTest" value="2" type="Float?"></property>
        <property name="SingleNullableTest" value="3" type="Single?"></property>
        <property name="DecimalNullableTest" value="4" type="Decimal?"></property>
        <property name="DateTimeNullableTest" value="2012-01-01" type="DateTime?"></property>
        <property name="BoolNullableTest" value="true" type="Bool?"></property>
        <property name="CharNullableTest" value="2" type="Char?"></property>
        <!--8位、16位、32位、64位有符号，无符号整（可空）型注入-->
        <property name="SByteNullableTest" value="3" type="SByte?"></property>
        <property name="Int16NullableTest" value="3" type="Int16?"></property>
        <property name="ShortNullableTest" value="3" type="Short?"></property>
        <property name="Int64NullableTest" value="3" type="Int64?"></property>
        <property name="LongNullableTest" value="3" type="Long?"></property>
        <property name="ByteNullableTest" value="3" type="Byte?"></property>
        <property name="UInt16NullableTest" value="3" type="UInt16?"></property>
        <property name="UIntNullableTest" value="3" type="UInt?"></property>
        <property name="UInt64NullableTest" value="3" type="UInt64?"></property>
      </object>
      <!--属性注入：数组类型-->
      <object name="ArrayPropertyTest" type="Roading.Net.Test.ArrayPropertyTest,Roading.Net.Test">
        <!--常用数据类型注入-->
        <property name="IntTest" value="12,13"></property>
        <property name="StringTest" value="字符串类型注入1,字符串注入2"></property>
        <property name="DoubleTest" value="12.3663,13.231"></property>
        <property name="FloatTest" value="0.235,0.211"></property>
        <property name="SingleTest" value="0.112,0.113"></property>
        <property name="DecimalTest" value="15.33,16.44"></property>
        <property name="DateTimeTest" value="2018-01-01 12:12:12,2017-01-01"></property>
        <property name="BoolTest" value="true,false"></property>
        <property name="CharTest" value="ctp"></property>
        <!--常用可空数据类型注入-->
        <property name="IntNullableTest" value="1,2"></property>
        <property name="DoubleNullableTest" value="1,3"></property>
        <property name="FloatNullableTest" value="2,4"></property>
        <property name="SingleNullableTest" value="3,6"></property>
        <property name="DecimalNullableTest" value="4,8"></property>
        <property name="DateTimeNullableTest" value="2012-01-01,2011-01-01"></property>
        <property name="BoolNullableTest" value="true,false,false,true"></property>
        <property name="CharNullableTest" value="232"></property>
        <!--8位、16位、32位、64位有符号，无符号整型注入-->
        <property name="ByteTest" value="8"></property>
        <property name="SbyteTest" value="-8"></property>
        <property name="Int16Test" value="-16"></property>
        <property name="ShortTest" value="-16"></property>
        <property name="Int64Test" value="-64"></property>
        <property name="LongTest" value="-64"></property>
        <property name="UintTest" value="32"></property>
        <property name="UInt16Test" value="16"></property>
        <property name="UIint64Test" value="64"></property>
        <!--8位、16位、32位、64位有符号，无符号整（可空）型注入-->
        <property name="SByteNullableTest" value="3" type="SByte?"></property>
        <property name="Int16NullableTest" value="3" type="Int16?"></property>
        <property name="ShortNullableTest" value="3" type="Short?"></property>
        <property name="Int64NullableTest" value="3" type="Int64?"></property>
        <property name="LongNullableTest" value="3" type="Long?"></property>
        <property name="ByteNullableTest" value="3" type="Byte?"></property>
        <property name="UInt16NullableTest" value="3" type="UInt16?"></property>
        <property name="UIntNullableTest" value="3" type="UInt?"></property>
        <property name="UInt64NullableTest" value="3" type="UInt64?"></property>

        <property name="StrArrayTestTwo">
          <array element-type="string">
            <value>中国</value>
            <value>日本</value>
          </array>
        </property>
        <property name="DoubleArrayTestTwo">
          <array element-type="double">
            <value>1</value>
            <value>2</value>
          </array>
        </property>
      </object>
      <object name="ListPropertyTest" type="Roading.Net.Test.ListPropertyTest,Roading.Net.Test">
        
      </object>
    </objects>
  </roadingNet>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>